@using PagedList;
@using PagedList.Mvc;
@model IPagedList<QuantityBookViewModel>
@{
    ViewBag.Title = "Thống Kê Số Lượng Tồn";
    Layout = "~/Areas/Store/Views/Shared/_Layout.cshtml";
}

<section class="content-header">
    <h1>
        @ViewBag.Title
    </h1>
    <ol class="breadcrumb">
        <li><a href="/Store/Home/Index"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active"><a href="#">@ViewBag.Title</a></li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <table class="table table-bordered table-hover" style="min-height:300px">

                    <tr>
                        <th>
                            Sách
                        </th>
                        <th>
                            Đơn giá
                        </th>
                        <th class="text-center">
                            Số lượng nhập
                        </th>
                        <th class="text-center">
                            Số lượng bán
                        </th>
                        <th class="text-center">
                            Số lượng tồn
                        </th>
                    </tr>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.TenSach)</td>
                            <td style="text-align: center;">
                                @Html.DisplayFor(modelItem => item.DonGia) VNĐ
                            </td>
                            <td style="text-align: center;">
                                @Html.DisplayFor(modelItem => item.SoLuongNhap)
                            </td>
                            <td style="text-align: center;">
                                @Html.DisplayFor(modelItem => item.SoLuongBan)
                            </td>
                            <td style="text-align: center;">
                                @Html.DisplayFor(modelItem => item.SoLuongTon)
                            </td>
                        </tr>
                    }
                </table>
            </div>
            <div class="row">
                <div class="col-sm-5">
                    @Html.PagedListPager(Model, page => Url.Action("QuantityBook", new { page = page }))
                </div>
                <div class="col-sm-7">
                    <a href="@Url.Action("ExportToExcel")" class="btn btn-success"><i class="fa fa-file-excel-o"></i> Export To Excel</a>
                </div>
            </div>
        </div>
    </div>
</section>
