@{
    var item = (User)ViewBag.User;
}
@section styles{
    <link href="~/Content/ProfileCss/style.css" rel="stylesheet" />
    <link href="~/Content/ProfileCss/font-awesome.min.css" rel="stylesheet" />

}

<div class="container">
    <div class="row">
        <div class="col-md-10 offset-md-1 col-lg-4 offset-lg-0">
            @Html.Action("_Sidebar", new { username = Request.QueryString["username"] })
        </div>

        <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-0">
            <!-- Edit Personal Info -->
            <div class="widget personal-info">
                <h3 class="widget-header user">Chỉnh sửa Thông tin cá nhân</h3>
                <h2 class="text-danger">Cập nhật đầy đủ thông tin điện thoại, họ tên, địa chỉ để thực hiện đặt hàng online tại shop.</h2>
                <br/>
                <form action="@Url.Action("EditProfile", "ProfileUser",new { returnUrl = Request.QueryString["returnUrl"] })" method="POST" enctype="multipart/form-data" runat="server">
                    <!-- User name -->
                    <div class="form-group">
                        <label for="first-name">User Name</label>
                        <input type="text" class="form-control" id="first-name" disabled value="@item.Username">
                        <input type="hidden" name="userName" value="@item.Username">
                    </div>
                    <!-- Full name -->
                    <div class="form-group">
                        <label for="last-name">Full Name</label>
                        <input type="text" class="form-control" id="last-name" required name="fullName" disabled value="@item.FullName">
                    </div>
                    <!-- Birth Day -->
                    <div class="form-group">
                        <label for="last-name">Birth Day</label>
                        <input type="text" class="form-control" id="last-name" required name="birthDay" value="@item.Birthday.ToShortDateString()">
                    </div>
                    <!-- File chooser -->
                    <div class="form-group choose-file">
                        <i class="fa fa-user text-center"></i>
                        <input type="hidden" name="fileName" value="@item.ImageURL" />
                        <input type="file" class="form-control-file d-inline" id="fileName" name="fileName">
                    </div>

                    <!-- Phone Number -->
                    <div class="form-group">
                        <label for="phone">Phone Number</label>
                        <input type="text" class="form-control" id="phone" required name="Phone" value="@item.Phone">
                    </div>

                    <!-- Phone Number -->
                    <div class="form-group">
                        <label for="address">Address</label>
                        <input type="text" class="form-control" id="address" name="Address" value="@item.Address">
                    </div>

                    <!-- Zip Code -->
                    <div class="form-group">
                        <label for="zip-code">Email</label>
                        <input type="text" class="form-control" id="zip-code" name="email" disabled value="@item.Email">
                    </div>
                    <!-- Submit button -->
                    <button class="btn btn-transparent" id="btnUpload">Lưu thông tin</button>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script type="text/javascript">

    function show(input) {
        if (input.files && input.files[0]) {
            var filerdr = new FileReader();
            filerdr.onload = function (e) {
                $('#user_img').attr('src', e.target.result);
            }
            filerdr.readAsDataURL(input.files[0]);
        }
    }
    $("#fileName").change(function () {
        show(this);
    });
</script>
