@model PagedList.IPagedList<BS_Project.EF.Book>
@using PagedList.Mvc
<link href="~/Content/imagecenter.css" rel="stylesheet" />
<script src="~/Scripts/bootstrap.js"></script>
<link href="~/Content/animate.css" rel="stylesheet" />
<link href="~/Content/rmodal.css" rel="stylesheet" />
<script type="text/javascript" src="https://unpkg.com/rmodal@1.0.26/dist/rmodal.js"></script>
<style type="text/css">

    .modal .modal-dialog {
        margin-top: 200px;
        width: 60%;
    }
</style>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Store/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/pop.css" rel="stylesheet" />
<section class="content-header">
    <h1>
        Kho sách tồn
    </h1>
    <ol class="breadcrumb">
        <li><a href="/Store/Home/Index"><i class="fa fa-dashboard"></i> Trang chủ</a></li>
        <li><a href="/Store/Book">Quản lý sách tồn</a></li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <div class="input-group-btn">
                        <a style="visibility: hidden" class="btn btn-primary" href="/Store/Book/Create">Create new</a>
                    </div>
                    <div class="box-tools" style="float:right; margin: 10px 10px 10px 10px">
                        @using (Html.BeginForm("Index", "Inventory", FormMethod.Get))
                        {

                            <div class="input-group input-group-sm" style="width: 250px;">
                                <input type="text" value="@ViewBag.SearchString" name="searchString" class="form-control pull-right" placeholder="Search">
                                <div class="input-group-btn">
                                    <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                                </div>
                            </div>
                        }
                    </div>
                </div>
                <table class="table table-bordered table-hover" style="min-height:300px">
                    <tr>
                        <th style="width: 40%;height: 40px; text-align: center">
                            Tên sách
                        </th>
                        <th style="width:15% ; text-align: center">
                            Đơn giá
                        </th>
                        <th style="width:15%; text-align: center">
                            Số lượng nhập
                        </th>
                        <th style="width: 15%; text-align: center">
                            Số lượng bán
                        </th>
                        <th style="width: 15%;text-align: center">
                            Số lượng tồn
                        </th>
                    </tr>
                    @foreach (var item in Model)
                    {
                        <tr id="row_@item.BookID">
                            <td>
                                <div class="Container1">
                                    <div class="Content1">
                                        @*<img style="width:60px; height:90px" src="@Html.DisplayFor(modelItem => item.ImageBool.Images.FirstOrDefault().ImageURL)" />*@
                                        @Html.DisplayFor(modelItem => item.Name)
                                    </div>
                                </div>
                            </td>
                            <td style="text-align: center;">
                                @Html.DisplayFor(modelItem => item.Price)
                            </td>
                            <td style="text-align: center;" id="Total">
                                @Html.DisplayFor(modelItem => item.TotalQuantity@*item.Authors.FirstOrDefault().Name*@)
                            </td>
                            <td style="text-align: center;">
                                @*@Html.DisplayFor(modelItem => item.OrdersDetails.FirstOrDefault().Quantity)*@
                                <span id="Min"> </span>
                            </td>
                            <td style="text-align: center;" id="Current">
                                @Html.DisplayFor(modelItem => item.CurrentQuantity@*item.OrdersDetails.FirstOrDefault().Quantity*@)
                            </td>
                        </tr>
                    }
                </table>
            </div>
            <div style="width:10%;">
                <button type="button" class="btn btn-block btn-success">Xuất Excel</button>
            </div>
            <div class="row">
                <div class="col-sm-7">
                    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
                </div>
            </div>
        </div>
    </div>
</section>
<script language="javascript">
    window.onload = function () {
        var modal = new RModal(document.getElementById('modal'), {
            //content: 'Abracadabra'
            beforeOpen: function (next) {
                console.log('beforeOpen');
                next();
            }
            , afterOpen: function () {
                console.log('opened');
            }

            , beforeClose: function (next) {
                console.log('beforeClose');
                next();
            }
            , afterClose: function () {
                console.log('closed');
            }

        });

        document.addEventListener('keydown', function (ev) {
            modal.keydown(ev);
        }, false);
        $("a[name='showModal']").click(function () {
            $('#nameBook').text($(this).find('input[type=hidden]').val());
            $('#URLImageBook').text($(this).find('input[id=abc]').val());
            $('#btnDel').val($(this).find('input[id=xyz]').val());
            $('#textPLS').text($(this).find('input[id=abcd]').val());
            $('#textOV').text($(this).find('input[id=abcde]').val());
            $('#textAT').text($(this).find('input[id=abcdf]').val());
            $('#textDT').text($(this).find('input[id=abcdfe]').val());
            $('#textCT').text($(this).find('input[id=abcdfef]').val());
            var imgUrl = $('#URLImageBook').text();
            //alert(imgUrl);
            $("#imgBook").attr("src", imgUrl);
            modal.open();
        });
    }
    $(document).ready(function () {
        var lenght = $("table tr td #Min").length;
        for (i = 0; i < lenght ; i++) {
            var min = Number($("tr #Total")[i].innerText) - Number($("tr #Current")[i].innerText);
                $("tr td #Min")[i].innerText = min;
        }
    });
</script>

